PORT=3000
FRONTEND_ORIGIN=http://localhost:5173
JWT_SECRET=cambia_este_secreto_en_local
JWT_EXPIRES_IN=8h
SQLITE_PATH=./data/gymcontrol.sqlite
GYM_TIMEZONE=America/Guatemala
SEED_ADMIN_NOMBRE=Administrador GymControl
SEED_ADMIN_CORREO=admin@gymcontrol.local
SEED_ADMIN_PASSWORD=cambia_esta_clave_local
